* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #33475B
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

.container-50 {
  width: 50%;
}

.radius {
  border-radius: 8px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Parte Header Top*/
header {
  width: 100%;
  background: red;
}

.header-top {
  width: 100%;
  background-color: #F4F9fd;
  border-bottom: 1px solid black;
}
.left-icon {
  float: left;
  line-height: 100px;
}
.left-icon a {
  text-decoration: none;
  color: black;
}
#angle {
  margin-right: 20px;
}
#vertical-line{
  font-size: 20px;
}
#contact {
  margin-left: 20px;
}
.right-icon {
  float: right;
  line-height: 100px;
}
.button {
  background: #FE775A;
  padding: 10px;
  color: white;
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid #FE775A;
}
#search {
  margin-right: 10px;
  color: #43BBCE;
}
#login {
  color: #FE775A;
  background: white;
}

/* /Parte Header Top*/

/* /Parte Header Nav*/
.header-nav{
  width: 100%;
  background: white;
}

.logohub {
  margin-top: 15px;
}

.right-icon-menu {
  float: right;
}
#menu li {
  display: inline-block;
  padding: 0 10px;
  margin-top: 50px;
}
.right-icon-menu #menu a {
  text-decoration: none;
  color: black;
}

.right-icon-menu .angle {
  margin-left: 20px;
}

/* /Parte Header Nav*/
/* Parte Header-Middle*/
.header-middle {
  width: 100%;
  height: 1085px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}

.text {
  width: 70%;
}
h1 {
  font-size: 60px;
  margin-bottom: 40px;
}
.text p {
  line-height: 30px;
  font-size: 24px;
}
.button-middle {
  padding: 20px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.text span {
  display: block;
  font-size: 16px
}
/* /Parte Header-Middle*/
.header-bottom {
  width: 100%;
  height: 100px;
  background: #94e5da;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
/* Main*/
/* Cube*/
main {
  width: 100%;
  height: 1000px;
  background: #F5F8FA;
}

.cube {
  text-align: center;
  margin: 0 auto;
}
.cube img {
  height: 250px;
  width: 250px;
  padding-top: 50px;
}
.cube h2 {
  color: #33475B;
  font-size: 40px;
}
.cube p {
  margin-top: 30px;
  margin-bottom: 50px;
}
/* /Cube*/
/* CRM*/
.crm {
  height: 300px;
  background-color: white;
}
.left-colon {
  float: left;
  margin-left: 230px;
  margin-top: 50px;
}
.left-colon img {
  height: 120px;
  width: 130px;
  display: block;
}
.left-colon .button {
  margin-top: 20px;
}
.right-colon {
  float: left;
  margin-left: 150px;
  margin-top: 50px;
}
.right-colon h3{
  font-size: 30px;
}
.right-colon p {
  padding-top: 30px;
}
.horizontal-line h4 {
  padding-top: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.horizontal-line hr {
  width: 450px;
  border: 1px solid gray;
  vertical-align: 5px;
  margin-left: 70px;
  display: inline-block;
}
.right-colon i {
  color: #FE775A;
  padding-left: 30px;
}
/* NON FUNZIONA devo togliere il padding al primo elemnto*/
.right-colon > i:first-of-type {
  padding-left: none;
}
/**/
.check {
  padding-left: 10px;
}
/* /CRM */
/* Marketing */
.mss {
  padding-top: 20px;
}
.marketing {
  float: left;
  width: 30%;
  background-color: white;
}
.marketing img {
  height: 100px;
  width: 90px;
}
/* /Marketing */
/* Sales */
.sales {
  float: left;
  width: 30%;
  background-color: white;
}
/* /Sales */
/* Services */
.service {
  float: left;
  width: 30%;
  background-color: white;
}
/* /Services */

/* /Main*/
footer {
  width: 100%;
  height: 400px;
  background: #2D3E50;
}
