* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #33475B
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

.container-50 {
  width: 50%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background: #FE775A;
  padding: 8px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #FE775A;
  text-decoration: none;
}

.check-box {
  color: #FE775A;
}
/* Parte Header Top*/
header {
  width: 100%;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #F4F9fd;
  border-bottom: 1px solid black;
}
.left-icon {
  float: left;
  line-height: 100px;
}
.left-icon a {
  text-decoration: none;
  color: black;
}
#angle {
  margin-right: 20px;
}
#vertical-line{
  font-size: 20px;
}
#contact {
  margin-left: 20px;
}
.right-icon {
  float: right;
  line-height: 100px;
}

#search {
  margin-right: 10px;
  color: #43BBCE;
}
#login {
  color: #FE775A;
  background: white;
}

/* /Parte Header Top*/

/* /Parte Header Nav*/
.header-nav{
  width: 100%;
  background: white;
  margin-top: 80px;
}

.logohub {
  margin-top: 15px;
}

.right-icon-menu {
  float: right;
}
#menu li {
  display: inline-block;
  padding: 0 10px;
  margin-top: 50px;
  list-style: none;
}
.right-icon-menu #menu a {
  text-decoration: none;
  color: black;
}

.right-icon-menu .angle {
  margin-left: 20px;
}

/* /Parte Header Nav*/
/* Parte Header-Middle*/
.header-middle {
  width: 100%;
  height: 1085px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}

.text {
  width: 70%;
}
h1 {
  font-size: 60px;
  margin-bottom: 40px;
}
.text p {
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 40px;
}
.button-middle {
  padding: 20px 40px;
}
.text span {
  display: block;
  font-size: 16px;
  margin-top: 40px;
}
/* /Parte Header-Middle*/
.header-bottom {
  width: 100%;
  height: 100px;
  background: #94e5da;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
/* Main*/
/* Cube*/
main {
  width: 100%;
  background: #F5F8FA;
}

.cube {
  text-align: center;
  margin: 0 auto;
}
.cube img {
  height: 250px;
  width: 250px;
  padding-top: 50px;
}
.cube h2 {
  color: #33475B;
  font-size: 40px;
}
.cube p {
  margin-top: 30px;
  margin-bottom: 50px;
}
/* /Cube*/
/* CRM*/
.crm {
  height: 300px;
  background-color: white;
}
.left-colon {
  float: left;
  margin-left: 230px;
  margin-top: 50px;
}
.left-colon img {
  height: 120px;
  width: 130px;
  display: block;
}
.crm a {
  display: block;
  font-size: 15px;
}
.left-colon .button {
  margin-top: 20px;
}
.right-colon {
  float: left;
  margin-left: 150px;
  margin-top: 50px;
}
h3{
  font-size: 30px;
}
.right-colon p {
  padding-top: 30px;
}
h4 {
  padding-top: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.horizontal-line {
  margin-bottom: 30px;
}
.horizontal-line hr {
  width: 850px;
  border: 1px solid gray;
  vertical-align: 5px;
  margin-left: 70px;
  display: inline-block;
}
.right-colon .check-box {
  margin-right: 10px;
}
.right-colon span {
  margin-right: 15px;
}
/* /CRM */
/* Marketing */
.mss {
  padding-top: 80px;
  padding-bottom: 80px;
}
.sub {
  float: left;
  width: 25%;
  background-color: white;
}
.container {
  text-align: center;
}
.button-center {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
}
.button-center a {
  font-size: 15px;
}
.mss img {
  height: 100px;
  width: 90px;
  margin-top: 30px;
}
.mss p {
  padding-top: 20px;
  margin: 0 75px;
}
.mss hr {
  width: 350px;
  margin-top: 50px;
  margin-left: 65px;
  border: 1px solid gray;
}
.mss h4 {
  padding-top: 50px;
  margin-bottom: 20px;
  display: block;
}
.sub i {
  margin-left: 65px;
}

.sub h3 {
  padding-top: 20px;
}
/* /Marketing */
/* Sales */
.sales {
  margin: 0 12.5%;
}
/* Section Gradients */
.section {
  width: 100%;
  padding-bottom: 100px;
  background-image: linear-gradient(to right, #00A5BC,#00A8BA,#00B2AF,#00B4AD,#01B7AC)
}
/* Section Lyric */
.lyric {
  text-align: center;
}
.lyric h5 {
  font-size: 55px;
  color: white;
  padding-top: 60px;
}
.lyric p {
  color: white;
  margin-top: 30px;
}
/* /Section Lyric */
/* Section Table */
.panel1,.panel2,.panel3 {
  float: left;
  width: 24%;
  border-right: 1px solid white;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 40px;
}
.block img{
  height: 50px;
  width: 50px;
  margin-top: 40px;
}
.block .logo-text {
  width: 170px;
}
.block .number {
  font-size: 40px;
  color: white;
}
.block .plus {
  color: white;
  font-size: 30px;
  vertical-align: text-bottom;
}
.block .text {
  font-size: 15px;
  color: white;
}
.block hr {
  color: white;
  margin-top: 20px;
}
.panel4 {
    float: left;
    width: 24%;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 40px;
}
/* /Section Table */
/* Section Sponsor */
.sponsor {
  background-color: white;
  margin-bottom: 80px;
}
.container-60 {
  width: 60%;
  height: 200px;
  margin: auto;
}
.panel-left {
  float: left;
  width: 15%;
  margin-top: 80px;
}
.panel-left span {
  color: #33475B;
  font-size: 45px;
}
.panel-left p {
  margin-top: 20px;
}

.panel-right {
  float: left;
  width: 55%;
  margin: 0 0 0 30%;
  margin-top: 80px;
}
.panel-right img {
  width: 150px;
  height: 20px;
  margin-right: 40px;
}
.panel-right img:nth-child(3){
  width: 150px;
  height: 30px;
}
.panel-right img:nth-child(4){
  width: 150px;
  height: 50px;
}
.block-img2 {
  margin-top: 50px;
}
.block-img2 img {
  height: 35px;
}
.block-img2 img:nth-child(2) {
  height: 27px;
}
/* /Section Sponsor */
/* Section Person */
.logo-person {
  margin-top: 120px;
}
.logo-person .panel-left {
  width: 27%;
}
.logo-person p{
  margin-bottom: 60px;
}
.logo-person span {
  display: block;
  font-size: 16px;
  margin-top: 60px;
}

.panel-right-image {
  float: right;
  width: 73%;
  text-align: right;
}
.panel-right-image img {
  height: 400px;
  margin-right: 150px;
}
/* /Section Person */
/* Footer */
footer {
  width: 100%;
  height: 800px;
  background: #2D3E50;
}

.index-final {
  padding-top: 60px;
}
.colon {
  float: left;
  width: 25%;
}
.colon .title{
  color: white;
  margin-bottom: 20px;
}
.colon li {
  list-style: none;
}
.colon a{
  color: lightgray;
  display: block;
  margin-top: 20px;
  text-decoration: none;
}
.colon .button {
  display: inline-block;
  padding: 15px;
  background-color: lightgray;
  border: none;
  color: #2D3E50;
  font-size: 16px;
}
.colon i {
  color: lightgray;
  margin-right: 15px;
  margin-top: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.footer-bottom a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}
#hr-color {
  border-color:lightgray;
}

.logo-grey {
  float: left;
  margin-top: 40px;
  color: lightgray;
}
.note {
  float: right;
  margin-top: 40px;
  color: lightgray;
}
.note span:first-child {
  margin-right: 30px;
}
/* /Footer */
